<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
  <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />

  <application>
    <service
      android:name="expo.modules.voiceoverlay.VoiceOverlayService"
      android:exported="false"
      android:foregroundServiceType="microphone|dataSync" />
  </application>
</manifest>
